*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  margin-top: 20px;
  text-align: center;
}

h1{
  color: white;
  margin: 10px 0px 20px;
  font-size: 3rem;
}

li{
  list-style: none;
  margin: 0.5px 1px;
}
.weeks{
  height: 4px;
  width: 4px;
  border: 0.1px solid white;
}

.used-week{
  background-color: white;
}
