:root{
    --container-height:60vh;
    --oneYear: 52;
    /* --temp-size: */
    --oneWeekBoxSize: 7px;
}
.calendar-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: calc(var(--oneWeekBoxSize)*var(--oneYear));
    margin: auto;
    /* box-shadow: 1px -1px 11px 1px white; */
    /* outline-color: rgba(255, 255, 255 0.5); */
}